.Card {
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: var(--border-card);
    border-radius: 1em;
}

.Card .title {
    font-size: var(--secondary-fs);
    color: var(--secondary-font-clr);
    
}

.Card .description {
    font-size: var(--thirdary-fs);
    color: var(--thirdary-font-clr);
}

