.Navbar {
  display: grid;
  place-items: center;
  padding: .5rem 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: var(--navbar-height);
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.Navbar.hide {
  display: none;
}

.Navbar.move {
  background-color: var(--main-clr);
}

.Navbar .container {
  width: min(90%,60rem);
  margin-inline: auto;
}

.Navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar .logo-image {
  max-width: 100%;
  height: auto;
  z-index: 99;
}

.Navbar .menu-list {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}

.Navbar .menu-list li {
  font-size: var(--secondary-fs);
}

.Navbar .link {
  color: var(--primary-font-clr);
  text-decoration: none;
  cursor: pointer;
}

.Navbar .link:active{
  opacity: 0.7;
}

.Navbar .menu-list .link  {
  position: relative;
}

.Navbar .menu-list .link-active {
  text-decoration: underline solid var(--primary-font-clr) 3px;
  text-underline-offset: 0.25em;
  color: var(--primary-font-clr);
}


.Navbar .menu-list .link:after  {
  content: "";
  position: absolute;
  bottom: -0.25em;
  left: 0;
  width: 100%;
  height: 3px;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  transform-origin: right;
  background-color: var(--primary-font-clr);
  transform: scaleX(0);
}

.Navbar .menu-list .link:hover:after  {
  transform-origin: left;
  transform: scaleX(1);
}

.Navbar .logout-btn {
  cursor: pointer;
  align-self: stretch;
  padding-inline: 0.5em;
  background-color: transparent;
  color: var(--primary-font-clr);
  border: 2px solid var(--primary-font-clr);
}

/* .Navbar .logout-btn:is(:hover, :focus-visible) {
  
} */

.Navbar .dropdown {
  position: relative;
  border-radius: 1em;
}

.Navbar .dropdown:is(:focus, :hover) {
  outline: 2px solid var(--primary-font-clr);
}

.Navbar .dropbtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--primary-font-clr);
  padding: .25em 1em;
}


.Navbar .dropbtn.open {
  color: var(--main-clr);
}

.Navbar .dropdown:has(.dropbtn.open) .dropdown-content {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.Navbar .dropdown:has(.dropbtn.open) {
  background-color: var(--bg-clr);
  
}

.Navbar .dropbtn::after {
  content: "";
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.3em solid;
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
}

.Navbar .dropdown-content {
  pointer-events: none;
  /* display: none; */
  position: absolute;
  top: calc(100% + .5em);
  left: 0;
  line-height: 2em;
  background-color: var(--bg-clr);
  padding: .5em 1em;
  transition: 0.3s ease;
  opacity: 0;
  border-radius: .5em;
  box-shadow: 0px 0px 10px var(--secondary-font-clr);
}

.Navbar .dropdown-content > .group {
  display: flex;
  gap: .5em;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--secondary-font-clr);
}

.Navbar .dropdown-content > .group:hover {
  color: var(--main-clr);
}

.Navbar .menu-btn {
  scale: 2;
  cursor: pointer;
  color: var(--primary-font-clr);
  display: none;
  z-index: 99;
}

@media screen and (max-width : 750px){
  .Navbar .menu-list {
      position: fixed;
      inset: 0 0 auto 0;
      flex-direction: column;
      justify-content: center;
      transform: translateY(-100%);
      background-color: var(--main-clr);
      padding-block: 2em;
      opacity: 0;
      transition: transform 0.3s ease, opacity 0.4s ease 0.15s;
  }

  .Navbar .menu-list.open {
      transform: translateY(0%);
      opacity: 1;
  }

  .Navbar .menu-btn{
      display: block;
  }
}