*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --navbar-height :80px;
    --font-family : Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --main-clr: #5AB963;
    --primary-font-clr :#fff;
    --secondary-font-clr :#121212;
    --thirdary-font-clr :gray;
    --input-font-clr : var(--secondary-font-clr);
    --primary-fs : clamp(2rem, 1rem + 2vw, 4rem);
    --middle-fs : clamp(1rem, 1rem + 2vw, 2rem);
    --secondary-fs : clamp(0.75rem, 1rem + 1vw, 1.5rem);
    --thirdary-fs : clamp(0.5rem, 1rem + 1vw, 1rem);
    --bg-clr : #fff;
    --border-card : none;
    --box-shadow : 0px 0px 5px #aaa;
    --font-clr : #121212;
  }
  
  .dark-mode {
    /* --main-clr: #04AA6D; */
    --primary-font-clr :rgba(255,255,255,0.87);
    --secondary-font-clr :rgba(255,255,255,0.6);
    --thirdary-font-clr :rgba(255,255,255,0.38);
    --input-font-clr : var(--primary-font-clr);
    --bg-clr : #1e2124;
    --border-card : 2px solid ghostwhite;
    --box-shadow : none;
    --font-clr :#fff;
  }

  body.loading {
    cursor: wait;
  }
  
  .App {
    min-height: 100vh;
    min-height: 100dvh;
    font-family: var(--font-family);
    line-height: 1.5;
    font-weight: 400;
  
    
    color: var(--primary-font-clr);
    background-color: var(--bg-clr);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  input, textarea {
    width: 100%;
  }
  