@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.Auth ,input {
  font-family: "Poppins", sans-serif;
}

.Auth .link {
  color: #fff;
  border: 1px solid red;
}

.Auth .container {
    position: relative;
    width: 100%;
    background-color: var(--bg-clr);
    min-height: 100vh;
    overflow: hidden;
  }

  
  .Auth .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .Auth .signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }
  
  .Auth form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .Auth form.sign-up-form {
    opacity: 0;
    z-index: 1;
  }
  
  .Auth form.sign-in-form {
    z-index: 2;
  }
  
  .Auth .title {
    font-size: 2.2rem;
    color: #55aa55;
    margin-bottom: 10px;
  }
  
  .Auth .input-field {
    width: min(100%, 380px);
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .Auth .input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .Auth .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  
  .Auth .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }
  
  .Auth .social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
    color: var(--thirdary-font-clr);
  }
  
  .Auth .forgot-text {
    padding: 0.7rem 0;
    font-size: 1rem;
    color: var(--thirdary-font-clr);
  }
  
  .Auth .menu-home {
    display: flex;
    justify-content: center;
  }
  
  .Auth .home-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: var(--thirdary-font-clr);
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
  }
  
  .Auth .home-icon:hover {
    color: #55aa55;
    border-color: #55aa55;
  }
  
  .Auth .btn {
    width: 150px;
    background-color: #55aa55;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .Auth .btn:hover {
    background-color: #458845;
  }
  .Auth .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .Auth .container::before {
    content: "";
    position: absolute;
    height: 3000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #55aa55 0%, #4db64d 100%);
    transition: 1.8s ease-in-out;
    z-index: 6;
  }
  
  .Auth .image {
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
  }
  
  .Auth .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }
  
  .Auth .left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  }
  
  .Auth .right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
  }
  
  .Auth .panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  
  .Auth .panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
  }
  
  .Auth .panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
  }
  
  .Auth .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 135px;
    height: 45px;
    font-weight: 600;
    font-size: 0.8rem;
  }
  
  .Auth .right-panel .image,
  .Auth .right-panel .content {
    transform: translateX(800px);
  }
  
  /* ANIMATION */
  
  .Auth .container.sign-up-mode::before {
    transform: translate(100%, -50%);
    right: 52%;
  }
  
  .Auth .container.sign-up-mode .left-panel .image,
  .Auth .container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
  }
  
  .Auth .container.sign-up-mode .signin-signup {
    left: 25%;
  }
  
  .Auth .container.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
  }
  
  .Auth .container.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
  }
  
  .Auth .container.sign-up-mode .right-panel .image,
  .Auth .container.sign-up-mode .right-panel .content {
    transform: translateX(0%);
  }
  
  .Auth .container.sign-up-mode .left-panel {
    pointer-events: none;
  }
  
  .Auth .container.sign-up-mode .right-panel {
    pointer-events: all;
  }
  
  @media (max-width: 870px) {
    .Auth .container {
      min-height: 800px;
      height: 100vh;
      /*addition*/
      height: 100dvh;
    }
    .Auth .signin-signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
  
    .Auth .signin-signup,
    .Auth .container.sign-up-mode .signin-signup {
      left: 50%;
    }
  
    .Auth .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }
  
    .Auth .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }
  
    .Auth .right-panel {
      grid-row: 3 / 4;
    }
  
    .Auth .left-panel {
      grid-row: 1 / 2;
    }
  
    .Auth .image {
      width: 200px;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.6s;
    }
  
    .Auth .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }
  
    .Auth .panel h3 {
      font-size: 1.2rem;
    }
  
    .Auth .panel p {
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }
  
    .Auth .btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
    }
  
    .Auth .container::before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
  
    .Auth .container.sign-up-mode::before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .Auth .container.sign-up-mode .left-panel .image,
    .Auth .container.sign-up-mode .left-panel .content {
      transform: translateY(-300px);
    }
  
    .Auth .container.sign-up-mode .right-panel .image,
    .Auth  .container.sign-up-mode .right-panel .content {
      transform: translateY(0px);
    }
  
    .Auth .right-panel .image,
    .Auth .right-panel .content {
      transform: translateY(300px);
    }
  
    .Auth .container.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
  }
  
  @media (max-width: 570px) {
    .Auth form {
      padding: 0 1.5rem;
    }
  
    .Auth .image {
      display: none;
    }
    .Auth .panel .content {
      padding: 0.5rem 1rem;
    }
    .Auth .container {
      padding: 1.5rem;
    }
  
    .Auth .container::before {
      bottom: 72%;
      left: 50%;
    }
  
    .Auth .container.sign-up-mode::before {
      bottom: 28%;
      left: 50%;
    }
  }
  